div#head__menu-sub>div>ul>li:hover {
    background-color: var(--colorshophover);
    color: var(--colorText);
    border-radius: 5px;
}

div#head__menu-sub>div>ul>li>ul>li:hover {
    background-color: initial;
    color: initial;
    border-radius: 0;
}


div#head__menu-sub ul li {
    transition: background-color 0.5s all;
}

div#head__menu-sub {
    border-color: black;
    border-top-width: 3px;
    border-style: solid;
}